html {
  --font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,Ubuntu,roboto,noto,segoe ui,arial,sans-serif;

  --font-size-xsmall: .75rem;   /* 12px */
  --font-size-small: .875rem;   /* 14px */
  --font-size-normal: 1rem;     /* 16px */
  --font-size-medium: 1.125rem; /* 18px */
  --font-size-large: 1.5rem;    /* 24px */
  --font-size-xlarge: 2rem;     /* 32px */
  --font-size-xxlarge: 3rem;    /* 48px */
  --font-size-xxxlarge: 4rem;   /* 64px */

  --font-weight-normal: 400;
  --font-weight-bold: 700;

  --space-0: 0;      /*  0px */
  --space-1: .25rem; /*  4px */
  --space-2: .5rem;  /*  8px */
  --space-3: .75rem; /* 12px */
  --space-4: 1rem;   /* 16px */
  --space-5: 1.5rem; /* 24px */
  --space-6: 2rem;   /* 32px */
  --space-7: 3rem;   /* 48px */
  --space-8: 4rem;   /* 64px */

  --app-width: 1280px;

  /**
   * Colors
   */

  --color-blue-100: #C5E0F9;
  --color-blue-200: #9CC7EE;
  --color-blue-300: #77A9D6;
  --color-blue-400: #4E8AC0;
  --color-blue-500: #3a72a4;
  --color-blue-600: #2C5B86;
  --color-blue-700: #26374D;

  --color-red-100: #FFD2CD;
  --color-red-200: #FFB4AB;
  --color-red-300: #FF8374;
  --color-red-400: #ED6A5A;
  --color-red-500: #B85043;
  --color-red-600: #8E3C32;
  --color-red-700: #5E2822;

  --color-teal-100: #93ECDE;
  --color-teal-200: #66D9C7;
  --color-teal-300: #47B7A5;
  --color-teal-400: #339989;
  --color-teal-500: #2C7C70;
  --color-teal-600: #216157;
  --color-teal-700: #173D37;

  --color-gray-100: #E9E6E6;
  --color-gray-200: #D0CFCF;
  --color-gray-300: #AFACAC;
  --color-gray-400: #898686;
  --color-gray-500: #6D6B6B;
  --color-gray-600: #5A5757;
  --color-gray-700: #252424;

  --color-green-100: #A8F8C8;
  --color-green-200: #88DDAA;
  --color-green-300: #5DB17F;
  --color-green-400: #469867;
  --color-green-500: #367E53;
  --color-green-600: #29603E;
  --color-green-700: #1B4029;

  --color-yellow-100: #EDE09C;
  --color-yellow-200: #D6C985;
  --color-yellow-300: #B3A958;
  --color-yellow-400: #948D4E;
  --color-yellow-500: #7C7640;
  --color-yellow-600: #5F5A2F;
  --color-yellow-700: #3A371C;

  --color-primary-darkblue: var(--color-blue-700);
  --color-primary-blue: var(--color-blue-300);
  --color-primary-gray: var(--color-gray-100);
  --color-primary-red: var(--color-red-400);
  --color-primary-teal: var(--color-teal-400);
  --color-primary-green: #85C9A0;
  --color-primary-yellow: var(--color-yellow-100);

  --text-color-primary: var(--color-gray-700);
  --text-color-secondary: var(--color-gray-500);
  --text-color-light: #ffffff;
  --text-color-link: var(--color-blue-600);
  --text-color-darkblue: var(--color-blue-700);

  --background-color: #22343C; 
  --background-color-white: #fff;
  --background-color-gray: #f8f9f9;

  --border-radius: .5rem;
  --border-radius-medium: .75rem;
  --border-radius-large: 1rem;

  --input-border-color: var(--color-gray-300);
  --input-border-color-light: var(--color-gray-300);
  --placeholder-color: var(--color-gray-300);
  --input-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);

  --checkbox-size: 1.125rem;
  --radio-background-size: .75rem;

  --success-color: #009900;
  --success-color-dark: #91bb2d;
  --error-color: #ee0000;
  --error-color-dark: #e84b3f;

  --border-color-gray: #C4C4C4;
  --border-color-light: var(--color-gray-300);
  --border-color-blue: var(--color-primary-blue);

  /* Used for zebra striping and highlights on hover. */
  /* I wish it were from the list of styleguide colors. */
  --list-highlight-color: #f0f0f0;

  height: 100%;
  font-size: 16px;
  line-height: 1.1;
  color: var(--text-color-primary);
  font-size: var(--font-size-normal);
  font-family: var(--font-family);
  font-weight: var(--font-weight-normal);
}

#__next {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  color: var(--text-color-primary);
}

h1 {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-xxlarge);
}

h2 {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-xlarge);
}

h3 {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-large);
}

h4 {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-medium);
}

h5 {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-normal);
}

.hide {
  display: none !important;
}
