@import '/src/styles/breakpoints.scss';

.container {
  width: 100%;
  max-width: var(--app-width);
  margin: 0px auto;
  padding: 0px 10px;

  @include xs {
    padding: 0px;
  }
}

.containerLarge {
  width: 100%;
  max-width: var(--app-width);
  margin: 0px auto;
  padding: 0px 10px;

  @include xs {
    padding: 0px;
  }
}

.containerSmall {
  width: 100%;
  max-width: calc(var(--app-width) / 3);
  margin: 0px auto;
  padding: 0px 10px;

  @include xs {
    padding: 0px;
  }
}
